{{>header}}
<title> {{title}}</title>
{{>navbar}}

{{>hero}}

<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-3">
            {{>sidebar}}
        </div>
        <div class="col-md-9">
            <h5 class="bg-primary text-light text-center p-2">ContactUs Query</h5>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{data._id}}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{data.name}}</td>
                    </tr>
                    <tr>
                        <th>Email Address</th>
                        <td><a href="mailto:{{data.email}}" target="_blank">{{data.email}}</a></td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td><a href="tel:{{data.phone}}">{{data.phone}}</a></td>
                    </tr>
                    <tr>
                        <th>WhatsApp</th>
                        <td><a href="https://wa.me/{{data.phone}}">{{data.phone}}</a></td>
                    </tr>
                    <tr>
                        <th>Subject</th>
                        <td>{{data.subject}}</td>
                    </tr>
                    <tr>
                        <th>Message</th>
                        <td>{{data.message}}</td>
                    </tr>
                    <tr>
                        <th>Active</th>
                        <td>{{activeHelper data.active}}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{dateTimeHelper data.createdAt}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{#if data.active}}
                            <a href="/admin/contactus/edit/{{data._id}}" class="btn btn-primary w-100">Update Status</a>
                            {{else}}
                            <a href="/admin/contactus/delete/{{data._id}}" class="btn btn-primary w-100">Delete</a>
                            {{/if}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{{>footer}}