{{>header}}
<title>BabyCare - {{title}}</title>
{{>navbar}}

{{>hero}}

<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
                <h4
                    class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">
                    Contact Us</h4>
                <h1 class="display-3">Contact For Any Query</h1>
            </div>
            <div class="row g-5 mb-5 mt-3">
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex w-100 border border-primary p-4 rounded bg-white">
                        <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                        <div class="">
                            <h4>Address</h4>
                            <a class="mb-2" target="_blank"
                                href="https://www.google.com/maps/place/SANA+STORE+-+The+Mark+Of+Trust/@28.5539374,77.2968565,613m/data=!3m1!1e3!4m6!3m5!1s0x390ce40e36fe50d1:0xa31eac3aff609f86!8m2!3d28.5539374!4d77.2968565!16s%2Fg%2F1ptwpp76f?entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D">Sana
                                Store,
                                Okhla, Delhi, India</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="d-flex w-100 border border-primary p-4 rounded bg-white">
                        <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                        <div class="">
                            <h4>Mail Us</h4>
                            <a class="mb-2" target="_blank"
                                href="mailto:ansariwasim0663@gmail.com">ansariwasim0663@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="d-flex w-100 border border-primary p-4 rounded bg-white">
                        <i class="fa fa-phone fa-2x text-primary me-4"></i>
                        <div class="">
                            <h4>Telephone</h4>
                            <a class="mb-2" target="_blank" href="tel:+918979627951">+91-8979627951</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="d-flex w-100 border border-primary p-4 rounded bg-white">
                        <i class="fa fa-whatsapp fa-2x text-primary me-4"></i>
                        <div class="">
                            <h4>WhatsApp</h4>
                            <a class="mb-2" target="_blank" href="https://wa.me/+918979627951">+91-8979627951</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                    {{#if message}}
                    <p class="text-success text-center">{{message}}</p>
                    {{/if}}
                    <form action="/contact" method="post">
                        <div class="mb-3">
                            <input type="text" name="name" class="w-100 form-control p-2 border-primary"
                                placeholder="Your Full Name">
                            {{#if errorMessage.name }}<p class="text-danger">{{errorMessage.name}}</p>{{/if}}
                        </div>
                        <div class="mb-3">
                            <input type="email" name="email" class="w-100 form-control p-2 border-primary"
                                placeholder="Enter Your Email Address">
                            {{#if errorMessage.email }}<p class="text-danger">{{errorMessage.email}}</p>{{/if}}
                        </div>
                        <div class="mb-3">
                            <input type="text" name="phone" class="w-100 form-control p-2 border-primary"
                                placeholder="Enter Your Phone Number">
                            {{#if errorMessage.phone }}<p class="text-danger">{{errorMessage.phone}}</p>{{/if}}
                        </div>
                        <div class="mb-3">
                            <input type="text" name="subject" class="w-100 form-control p-2 border-primary"
                                placeholder="Enter Subject">
                            {{#if errorMessage.subject }}<p class="text-danger">{{errorMessage.subject}}</p>{{/if}}
                        </div>
                        <div class="mb-3">
                            <textarea name="message" class="w-100 form-control mb-3 border-primary" rows="4" cols="10"
                                placeholder="Your Message"></textarea>
                            {{#if errorMessage.message }}<p class="text-danger">{{errorMessage.message}}</p>{{/if}}
                        </div>
                        <button class="w-100 btn btn-primary form-control p-2er-primary text-white bg-primary"
                            type="submit">Submit</button>
                    </form>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <iframe width="100%" height="100%" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=Sana%20Store%20The%20Mark%20of%20Trust&t=k&z=15&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{{>footer}}