{{>header}}
<title> {{title}}</title>
{{>navbar}}

{{>hero}}

<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-3">
            {{>sidebar}}
        </div>
        <div class="col-md-9">
            <h5 class="bg-primary text-light text-center p-2">Blog <a href="/admin/blog/create"><i
                        class="fa fa-plus text-light float-end"></i></a></h5>
            <div class="table-responsive">
                <table id="mytable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Cover</th>
                            <th>Short Description</th>
                            <th>Active</th>
                            <th>Sort Order</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td>{{_id}}</td>
                            <td>{{name}}</td>
                            <td>{{dateHelper createdAt}}</td>
                            <td>
                                <a href="/{{cover}}" target="_blank">
                                    <img src="/{{cover}}" height="80px" width="100px" alt="">
                                </a>
                            </td>
                            <td>
                                <div class="admin-description">{{shortDescription}}</div>
                            </td>
                            <td>{{activeHelper active}}</td>
                            <td>{{sortOrder}}</td>
                            <td><a href="/admin/blog/show/{{_id}}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                            </td>
                            <td><a href="/admin/blog/edit/{{_id}}" class="btn btn-primary"><i
                                        class="fa fa-edit"></i></a></td>
                            <td>
                                {{#if (isSuperAdmin  ../session.role) }}
                                <a href="/admin/blog/delete/{{_id}}" class="btn btn-danger"><i
                                        class="fa fa-trash"></i></a>
                                {{/if}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{>footer}}