{{>header}}
<title> {{title}}</title>
{{>navbar}}

{{>hero}}

<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-3">
            {{>sidebar}}
        </div>
        <div class="col-md-9">
            <h5 class="bg-primary text-light text-center p-2">Update Testimonial <a href="/admin/testimonial"
                    class="text-light float-end">Back</a></h5>
            <form action="/admin/testimonial/update/{{data._id}}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Name*</label>
                        <input type="text" name="name" value="{{data.name}}" placeholder="Full Name"
                            class="form-control border-primary border-3">
                        {{#if errorMessage.name }}<p class="text-danger">{{errorMessage.name}}</p>{{/if}}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>Profession*</label>
                        <input type="text" name="profession" value="{{data.profession}}" placeholder="Profession"
                            class="form-control border-primary border-3">
                        {{#if errorMessage.profession }}<p class="text-danger">{{errorMessage.profession}}</p>{{/if}}
                    </div>
                </div>

                <div class="mb-3">
                    <label>Message*</label>
                    <textarea name="message" placeholder="Message..." class="form-control border-3 border-primary"
                        rows="4">{{data.message}}</textarea>
                    {{#if errorMessage.message }}<p class="text-danger">{{errorMessage.message}}</p>{{/if}}
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-6 mb-3">
                        <label>Pic</label>
                        <input type="file" name="pic" class="form-control border-3 border-primary">
                        {{#if errorMessage.pic }}<p class="text-danger">{{errorMessage.pic}}</p>{{/if}}
                    </div>

                    <div class="col-md-4 col-sm-6 mb-3">
                        <label>Active</label>
                        <select name="active" class="form-select border-3 border-primary">
                            <option value="1" {{dropdownHelper data.active true}}>Yes</option>
                            <option value="0" {{dropdownHelper data.active false}}>No</option>
                        </select>
                    </div>

                    <div class="col-md-4 col-sm-6 mb-3">
                        <label>Sort Order</label>
                        <input type="number" name="sortOrder" placeholder="Sort Order" value="{{data.sortOrder}}"
                            class="form-control border-3 border-primary">
                    </div>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{>footer}}